{% extends "layout.html" %} {% block content %}

<header class="masthead" style="background-image: url('{{ static('s3', 'blog/img/circut_board.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>My Projects</h1>
                    <h2 class="subheading">A few of my personal projects</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <article>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <a href="comics/news"><h3>Comic News</h3></a>

                <p>One of my projects is the "Batman Universe Comic News Aggregator." This uses BeautifulSoup4 to scour eight of the top comic news sites for Batman-related articles. It displays the first three pages of results of each site.</p>

                <p>The eight news sites currently supported: bleedingcool.com, cbr.com, comicbook.com, comicsbeat.com, ign.com, nerdist.com, newsarama.com, and theouthousers.com.</p>

                <p>This project accesses a Postgres database to receive the output of scraped information.</p>

            </div>
        </div>
    </article>
    <hr>
    <article>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <a href="/volcanoes"><h3>Active Volcanoes</h3></a>
                <p>My second project is <a href="/volcanoes">"An Interactive Map of Active Volcanoes Classified by Last Known Eruption Date."</a> When the Kīlauea volcano erupted in May, I wondered where else were active volcanoes. After much searching, I realized there was not a  map of active volcanoes. The heavy work to create the map is found <a href="https://github.com/hammacktony/python-projects/tree/master/volcanos">here</a>.</p>
            </div>
        </div>
    </article>
</div>
{% endblock %}