{% extends 'layout.html' %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ static('s3', post.image) }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ post.title }}</h1>
          {# Display when post was either created or last updated #}
          {% if  post.created_at.to_formatted_date_string() ==  post.updated_at.to_formatted_date_string() %}
              <p class="post-meta">Posted by
                  <a style="color: white" href="/blog/{{ blog }}/author/{{ user.user_name }}">{{ user.name }}</a> on 
                {{ post.created_at.to_formatted_date_string() }}</p>
          {% else %}
            <p class="post-meta">Updated by
                 <a style="color: white" href="/blog/{{ blog }}/author/{{ user.user_name }}">{{ user.name }}</a> on 
                {{ post.updated_at.to_formatted_date_string() }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-9 mx-auto ">
          
          <!-- Displays post -->
          <div class="post">
            <!-- <style type="text/css">
              .post {
                border-right: 1px solid #f2f2f2;
                padding-right: 20px;
              }
            </style> -->
          {{ post.body|safe }}
        </div>
          <!-- Displays Posts Categories if there are any -->
          {% if post.category %}
            {% set categories = post.category.split(',') %}
            {% for category in categories %}
              {# Making slug for category #}
              {% set cat_slug = category.lstrip() %}
              {% set cat_slug = cat_slug.rstrip() %}
              {% set cat_slug = cat_slug.replace(' ', '-').lower() %}
              <div class="alert alert-dark" role="alert" style="display: inline-block;">
                <a href="/blog/{{ blog }}/category/{{ cat_slug }}">{{ category }}</a>
              </div>
            {% endfor %}
          {% endif %}

      </div>

      {# Sidebar #}
      <div class="col-lg-4 col-md-3 mx-auto">

          {# Author Profile #}
          <!-- <div class="col-md-12">
            {% include "profile.html" %}
          </div> -->

          {# Recent Posts #}

          <div class="col-md-12">
            {% include "blog/recent.html" %}
          </div>
      </div>
    </div>
  </div>

</article>


{% endblock %}