/* media queries */

/*Desktop*/
@media screen and (max-width:990px) {
  #form {
          display: none;
        }
  iframe {
        height: 350px;
        width: 80%;
        resize: both;
        overflow: auto;
      }
}

/*Laptop*/
@media screen and (max-width:768px) {
  a.post {
    font-size: 20px;
  }
  h3 {
  font-size: 25px;
  }
  h1.comics-heading { 
    font-size: 30px;
  }
  #bleedingcool, #cbr, #comicsbeat, #comicbook, #ign, #nerdist, #newsarama, #outhousers {
    padding: 40px;
    margin-bottom: 35px;
  }
  #headerwrap {
    margin-top: 0px;
    padding-top:50px;
    min-height: 275px;
  }

  iframe {
        height: 500px;
        width: 40%;
        resize: both;
        overflow: auto;
      }
}

/*Phone*/
@media screen and (max-width:420px) {
  a.post {
    font-size: 17px;
  }
  #bleedingcool, #cbr, #comicsbeat, #comicbook, #ign, #nerdist, #newsarama, #outhousers {
    padding: 20px;
    margin-bottom: 20px;
  }
  div.comics {
    margin-top: 25px;
/*    margin-bottom: 25px;
*/    margin-left: 25px;
    margin-right: 25px;
  }
  h1.comics-heading {
/*    font-size: 25px;*/  
    display: none;
  }
  h3 {
    font-size: 20px;
  }
  #headerwrap {
    margin-top: 0px;
    padding-top:25px;
    min-height: 300px;
  }
  #headerwrap h1 {
    /*font-size: 80px;*/
    font-size: 3em;
    color: white;
  }

}