{% extends 'dashboard/base.html' %}
​
{% block content %}
<div class="col-xs-9">
  <div class="col-xs-8">
      <h1>{{ blog.title() }} Blog</h1>
    <!-- Showing posts and  -->
    {% for post in posts %}
    <div id="{{ post.slug }}">
      <h3><a href="/blog/{{ blog }}/post/{{ post.slug }}" style="color: black">{{ post.title }}
        {% if post.is_live == True %}
          (active)
        {% endif %}
        {% if post.shortened_url %}
          <small><a href="{{ post.shortened_url }}">{{ post.shortened_url }}</a></small>
        {% endif %}
      </a></h3>
      {# Display when post was either created or last updated #}
          {% if  post.created_at.to_formatted_date_string() ==  post.updated_at.to_formatted_date_string() %}
              <p class="post-meta">Posted by
                  <a href="/blog/{{ blog }}/author/{{ author.find(post.author_id).user_name }}">{{ author.find(post.author_id).name }}</a> on 
                {{ post.created_at.to_formatted_date_string() }}</p>
          {% else %}
            <p class="post-meta">Updated by
                  <a href="/blog/{{ blog }}/author/{{ author.find(post.author_id).user_name }}">{{ author.find(post.author_id).name }}</a> on 
                {{ post.updated_at.to_formatted_date_string() }}</p>
          {% endif %}
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/dashboard/blog/{{ blog }}/post/{{ post.slug }}/update">Update <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/dashboard/blog/{{ blog }}/post/{{ post.slug }}/delete">Delete</a>
        <a class="nav-item nav-link" method="post" href="/dashboard/blog/{{ blog }}/post/{{ post.slug }}/activate">Activate</a>
        <a class="nav-item nav-link" method="post" href="/dashboard/blog/{{ blog }}/post/{{ post.slug }}/deactivate">Deactivate</a>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
  
  <div class="col-xs-1">
    <form action='/dashboard/blog/{{ blog }}/post/create' method="GET">
      {{ csrf_field|safe }}
      ​
      <input name="create" type="submit" value="Create New Post">
    </form>
  </div>
</div>

{% endblock %}