{% extends "layout.html" %}
{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ static('s3', 'blog/img/Batman-Wallpapers-034.jpg') }}')">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
               <h1>Comic News</h1>
               <h2 class="subheading">Batman Related News Aggregator</h2>
            </div>
         </div>
      </div>
   </div>
</header>
<style type="text/css"> /* The Modal (background) */
   .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   }
   /* Modal Content/Box */
   .modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
   }
   /* The Close Button */
   .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   }
   .close:hover,
   .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
   }
   #limheight {
   height: 300px; /*your fixed height*/
   -webkit-column-count: 5;
   -moz-column-count: 5;
   column-count: 5; /*3 in those rules is just placeholder -- can be anything*/
   }
   #limheight li {
   display: inline-block; /*necessary*/
   } 
</style>
<style>
   .post {
   padding-bottom: 5px;
   border-bottom: 5px solid #000;
   display: inline-block;
   }

   /*Desktop*/
    @media screen and (max-width:990px) {
        #form {
                display: none;
            }
        iframe {
            height: 350px;
            width: 80%;
            resize: both;
            overflow: auto;
            }
    }
</style>
<div class="container">
<div class="row">
<div id='form' class='col-md-3'>
   <form>
      <h2 class="post-title post">News Sources</h2>
      {% if bleedingcool %}
      <h6 class="post-subtitle"> Bleedingcool News: <input type="checkbox" id="bleedingcoolCheck" onclick="displayBleedingcool()" checked></h6>
      {% endif %}
      {% if cbr %}
      <h6 class="post-subtitle"> CBR News: <input type="checkbox" id="cbrCheck" onclick="displayCBR()" checked></h6>
      {% endif %}
      {% if comicbook %}
      <h6 class="post-subtitle"> Comicbook.com News: <input type="checkbox" id="comicbookCheck" onclick="displayComicbook()" checked></h6>
      {% endif %}
      {% if comicsbeat %}
      <h6 class="post-subtitle"> Comicsbeat News: <input type="checkbox" id="comicsbeatCheck" onclick="displayComicsbeat()" checked></h6>
      {% endif %}
      {% if ign %}
      <h6 class="post-subtitle"> IGN News: <input type="checkbox" id="ignCheck" onclick="displayIGN()" checked></h6>
      {% endif %}
      {% if nerdist %}
      <h6 class="post-subtitle"> Nerdist News: <input type="checkbox" id="nerdistCheck" onclick="displayNerdist()" checked></h6>
      {% endif %}
      {% if newsarama %}
      <h6 class="post-subtitle"> Newsarama News: <input type="checkbox" id="newsaramaCheck" onclick="displayNewsarama()" checked></h6>
      {% endif %}
      {% if outhousers %}
      <h6 class="post-subtitle"> The Outhousers News: <input type="checkbox" id="outhousersCheck" onclick="displayOuthousers()" checked></h6>
        {% endif %}
    </form>
   <!-- Trigger/Open The Modal -->
   <button id="myBtn" class="btn btn-secondary">Search Criterion</button>
   <!-- The Modal -->
   <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
         <span class="close" style="color: #000;">&times;</span>
         <h5 class="post-title">Here are the search criterion I used to search the web for Bat-related news.</h5>
         <h6 class="post-title">Please email me if I should add more criterion.</h6>
         <hr>
         <ul id="limheight">
            {% for item in criterion %}
            <li>
               <h6 class="post-subtitle">{{ item }}</h6>
            </li>
            <br> {% endfor %}
         </ul>
      </div>
   </div>
</div>

<!-- Main Content -->
<div class="col-lg-9 col-md-10 mx-auto">
{% if bleedingcool %}
    <div id='bleedingcool' class="post-preview">
    <h2 class="post-title post">
        Bleeding Cool
    </h2>
        {% for post in bleedingcool %}
        <a href="{{ post.link }}">
            <h3 class="post-subtitle">
                {{ post.title }}
            </h3>
        </a>
        <!-- <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2018</p> -->
        <hr>
        {% endfor %}
    </div>
{% endif%}

{% if cbr %}
    <div id='cbr' class="post-preview">
    <h2 class="post-title post">
        CBR
    </h2>
    {% for post in cbr %}
    <a href="{{ post.link }}">
        <h3 class="post-subtitle">
            {{ post.title }}
        </h3>
    </a>
    <!-- <p class="post-meta">Posted by
        <a href="#">Start Bootstrap</a>
        on September 24, 2018</p> -->
    <hr>
    {% endfor %}
    </div>
{% endif %}

{% if comicbook %}
    <div id='comicbook' class="post-preview">
    <h2 class="post-title post">
        Comicbook.com
    </h2>
    {% for post in comicbook %}
    <a href="{{ post.link }}">
        <h3 class="post-subtitle">
            {{ post.title }}
        </h3>
    </a>
    <!-- <p class="post-meta">Posted by
        <a href="#">Start Bootstrap</a>
        on September 24, 2018</p> -->
    <hr>
    {% endfor %}
    </div>
{% endif %}

{% if comicsbeat %}
<div id='comicsbeat'class="post-preview">
   <h2 class="post-title post">
      Comicsbeat
   </h2>
   {% for post in comicsbeat %}
   <a href="{{ post.link }}">
      <h3 class="post-subtitle">
         {{ post.title }}
      </h3>
   </a>
   <!-- <p class="post-meta">Posted by
      <a href="#">Start Bootstrap</a>
      on September 24, 2018</p> -->
   <hr>
   {% endfor %}
</div>
{% endif %}

{% if ign %}
<div id="ign" class="post-preview">
   <h2 class="post-title post">
      IGN
   </h2>
   {% for post in ign %}
   <a href="{{ post.link }}">
      <h3 class="post-subtitle">
         {{ post.title }}
      </h3>
   </a>
   <!-- <p class="post-meta">Posted by
      <a href="#">Start Bootstrap</a>
      on September 24, 2018</p> -->
   <hr>
   {% endfor %}
</div>
{% endif %}

{% if nerdist %}
<div id="nerdist" class="post-preview">
   <h2 class="post-title post">
      Nerdist
   </h2>
   {% for post in nerdist %}
   <a href="{{ post.link }}">
      <h3 class="post-subtitle">
         {{ post.title }}
      </h3>
   </a>
   <!-- <p class="post-meta">Posted by
      <a href="#">Start Bootstrap</a>
      on September 24, 2018</p> -->
   <hr>
   {% endfor %}
</div>
{% endif %}

{% if newsarama %}
<div id="newsarama" class="post-preview">
   <h2 class="post-title post">
      Newsarama
   </h2>
   {% for post in newsarama %}
   <a href="{{ post.link }}">
      <h3 class="post-subtitle">
         {{ post.title }}
      </h3>
   </a>
   <!-- <p class="post-meta">Posted by
      <a href="#">Start Bootstrap</a>
      on September 24, 2018</p> -->
   <hr>
   {% endfor %}
</div>
{% endif %}

{% if outhousers %}
<div id="outhousers" class="post-preview">
   <h2 class="post-title post">
      The Outhousers
   </h2>
   {% for post in outhousers %}
   <a href="{{ post.link }}">
      <h3 class="post-subtitle">
         {{ post.title }}
      </h3>
   </a>
   <!-- <p class="post-meta">Posted by
      <a href="#">Start Bootstrap</a>
      on September 24, 2018</p> -->
   <hr>
   {% endfor %}
</div>
{% endif %}
</div>
</div>
</div>


<!-- Modal js -->
<script type="text/javascript">
   // Get the modal
   var modal = document.getElementById('myModal');
   
   // Get the button that opens the modal
   var btn = document.getElementById("myBtn");
   
   // Get the <span> element that closes the modal
   var span = document.getElementsByClassName("close")[0];
   
   // When the user clicks on the button, open the modal
   btn.onclick = function() {
       modal.style.display = "block";
   }
   
   // When the user clicks on <span> (x), close the modal
   span.onclick = function() {
       modal.style.display = "none";
   }
   
   // When the user clicks anywhere outside of the modal, close it
   window.onclick = function(event) {
       if (event.target == modal) {
           modal.style.display = "none";
       }
   } 
</script>
<!-- Checkbox for news sources -->
<script type="text/javascript">
   function displayBleedingcool() {
       var checkBox = document.getElementById("bleedingcoolCheck");
       var news = document.getElementById("bleedingcool");
       if (checkBox.checked == true) {
           news.style.display = "block";
       } else {
           news.style.display = "none";
       }
   }
   function displayCBR() {
       var checkBox = document.getElementById("cbrCheck");
       var news = document.getElementById("cbr");
       if (checkBox.checked == true) {
           news.style.display = "block";
       } else {
           news.style.display = "none";
       }
   }
   function displayComicbook() {
       var checkBox = document.getElementById("comicbookCheck");
       var news = document.getElementById("comicbook");
       if (checkBox.checked == true) {
           news.style.display = "block";
       } else {
           news.style.display = "none";
       }
   }
   function displayComicsbeat() {
       var checkBox = document.getElementById("comicsbeatCheck");
       var news = document.getElementById("comicsbeat");
       if (checkBox.checked == true) {
           news.style.display = "block";
       } else {
           news.style.display = "none";
       }
   }
   function displayIGN() {
       var checkBox = document.getElementById("ignCheck");
       var news = document.getElementById("ign");
       if (checkBox.checked == true) {
           news.style.display = "block";
       } else {
           news.style.display = "none";
       }
   }
   function displayNerdist() {
       var checkBox = document.getElementById("nerdistCheck");
       var news = document.getElementById("nerdist");
       if (checkBox.checked == true) {
           news.style.display = "block";
       } else {
           news.style.display = "none";
       }
   }
   function displayNewsarama() {
       var checkBox = document.getElementById("newsaramaCheck");
       var news = document.getElementById("newsarama");
       if (checkBox.checked == true) {
           news.style.display = "block";
       } else {
           news.style.display = "none";
       }
   }
   function displayOuthousers() {
       var checkBox = document.getElementById("outhousersCheck");
       var news = document.getElementById("outhousers");
       if (checkBox.checked == true) {
           news.style.display = "block";
       } else {
           news.style.display = "none";
       }
   }
</script>
{% endblock %}

