{% extends "dashboard/base.html" %}
{% block content %}
<div class="col-xs-9">
  <h1>{{ blog.title() }} Blog</h1>

  <form action='/dashboard/blog/{{ blog }}/post/create' method="POST" enctype="multipart/form-data">
    {{ csrf_field|safe }}

    <div class="form-group">
      <label>Title</label>
      <input type="name" name="title" class="form-control" required pattern=".*\S+.*" placeholder="Some Title...">
    </div>
    <div class="form-group">
      <label>Featured Image</label>
      <input type="file" name="file_upload">
    </div>
    <div class="form-group">
      <label>Body</label>
      </br>
      <textarea name="body" class="form-control" rows="25" placeholder="Some Text...."></textarea>
    </div>
    <div class="form-group">
      <label>Category</label>
      <div class="invalid-tooltip">
        No commas in category names
      </div>
      <br>
      <input name="category" pattern="^[^,]*$" placeholder="Some Category..."></input>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-primary" href="/dashboard/blog/{{ blog }}/home" role="button">Cancel</a>
  </form>
  </form>
  <!-- Detail Render Syntax -->
  <div class="alert alert-light" role="alert">
    Editor Syntax: Markdown
  </div>
</div>



{% endblock %}