{% extends 'layout.html' %}
{% block content %}

<!-- Page Header -->
{% if blog == 'personal' %}
<header class="masthead" style="background-image: url('{{ static('s3', 'blog/img/blog-header.jpg') }}')">
{% endif %}
{% if blog == 'tech' %}
<header class="masthead" style="background-image: url('{{ static('s3', 'blog/img/laptop-blog.jpg') }}')">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>My {{ blog.title() }} Blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="col-lg-9 col-md-10 mx-auto">
  <div class="post-preview" style="text-align: center">
    {% for post in posts %}
    <a href="/blog/{{ blog }}/post/{{ post.slug }}">
      <h2 class="post-title post">
        {{ post.title }}
      </h2>
    </a>
    
    {# Display when post was either created or last updated #}
          {% if  post.created_at.to_formatted_date_string() ==  post.updated_at.to_formatted_date_string() %}
              <p class="post-meta">Posted by
                  <a href="/blog/{{ blog }}/author/{{ author.find(post.author_id).user_name }}">{{ author.find(post.author_id).name }}</a> on 
                {{ post.created_at.to_formatted_date_string() }}</p>
          {% else %}
            <p class="post-meta">Updated by
                  <a href="/blog/{{ blog }}/author/{{ author.find(post.author_id).user_name }}">{{ author.find(post.author_id).name }}</a> on 
                {{ post.updated_at.to_formatted_date_string() }}</p>
          {% endif %}
    <hr>
    {% endfor %}
  </div>

  {% endblock %}