
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Tony Hammack</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/personal">Personal Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/tech">Tech Blog</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/comics">Comics News</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>