{% extends "layout.html" %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ static('s3', 'blog/img/glitch.png') }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        <h1>Server error: 500</h1>
        <h2>Sorry, something went wrong on our system. Don't panic, we are fixing it! Please try again later.</h2>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

