{% extends 'dashboard/base.html' %}
{% block content %}

<div class="col-xs-9">

	<style type="text/css">
		.avatar {
            vertical-align: middle;
            max-width: 110px;
            border-radius: 50%;
        }
	</style>

	<form action='/dashboard/user/profile' method="POST" enctype="multipart/form-data">
	    {{ csrf_field|safe }}
		
		
		<div class="form-row">
			{# Thumbnail #}
			<div class="form-group col-md-12">
				<label><h1>Profile Photo</h1></label>
			</div>
			<div class="form-group col-md-12">
				{% if Auth.user().image  %}
					<div class="form-group col-md-6">
						 <img src="{{ static('s3', Auth.user().image) }}" class="avatar" alt="profile photo"> 
					</div>
				{% endif %}
				<div class="form-group col-md-6">
		          <label>Profile Image</label>
		          <input type="file" name="file_upload">
				</div>
			</div>
			

			{# Name #}
			<div class="form-group col-md-12">
				<label><h1>Name</h1></label>
			</div>
		    <div class="form-group col-md-12">
		      <label>Username:</label>
		  </div>
		      <div class="form-group col-md-12">
		      <input id="username" type="text" name="username" value="{{ Auth.user().user_name }}"  readonly>
		  </div>
		  <div class="form-group col-md-12">
		      <small id="username" class="form-text text-muted">Cannot be changed</small>
			</div>
		    <div class="form-group col-md-12">
		      <label>Full Name:</label>
		  </div>
		      <div class="form-group col-md-12">
		      <input id="name" type="text" name="name" value="{{ Auth.user().name }}"></input>
		  </div>
		
		{# Contact Info #}
			<div class="form-group  col-md-12">
				<label><h1>Contact Info</h1></label>
			</div>
			<div class="form-group col-md-12">
		      <label>Email:</label>
		  </div>
		      <div class="form-group col-md-12">
		      <input id="email" type="text" name="email" value="{{ Auth.user().email }}" required></input>
		      <small id="emailHelp" class="form-text text-muted">Required</small>
		  </div>

		    <div class="form-group col-md-12">
		      <label>Website:</label>
		  </div>
		      <div class="form-group col-md-12">
		      <input id="website" type="text" name="website" value="{{ Auth.user().website }}"></input>
		  </div>

		  <div class="form-group col-md-12">
			<label>LinkedIn:</label>
			</div>
				<div class="form-group col-md-12">
				<input id="linkedin" type="text" name="linkedin" value="{{ Auth.user().linkedin }}"></input>
			</div>
		   
		    <div class="form-group col-md-12">
		      <label>Twitter:</label>
		  </div>
		      <div class="form-group col-md-12">
		      <input id="twitter" type="text" name="twitter" value="{{ Auth.user().twitter }}"></input>
		  </div>
		   
		    <div class="form-group col-md-12">
		      <label>Facebook:</label>
		  </div>
		      <div class="form-group col-md-12">
		      <input id="facebook" type="text" name="facebook" value="{{ Auth.user().facebook }}"></input>
		  </div>
		    
		    <div class="form-group col-md-12">
		      <label>Github:</label>
		  </div>
		      <div class="form-group col-md-12">
		      <input id="github" type="text" name="github" value="{{ Auth.user().github }}"></input>
		  </div>
		   
		    <div class="form-group col-md-12">
		      <label>Gitlab:</label>
		  </div>
		      <div class="form-group col-md-12">
		      <input id="gitlab" type="text" name="gitlab" value="{{ Auth.user().gitlab }}"></input>
		  </div>
		  <div class="form-group col-md-12">
			<label>Dev.to:</label>
		</div>
			<div class="form-group col-md-12">
			<input id="devto" type="text" name="devto" value="{{ Auth.user().devto }}"></input>
		</div>
		   

		{# Biographical Info #}
			<div class="form-group col-md-12">
				<h1>About Yourself</h1>
			</div>
		    <div class="form-group  col-md-12">
		      <label>Biographical Info:</label>
		    </div>
		    <div class="form-group  col-md-12">
			    {# Check if User has entered something in his bio #}
			    {% if Auth.user().bio != "" %}
			      <textarea name="bio" class="form-control" rows="5">{{ Auth.user().bio }}</textarea>
			    {% else %}
				<textarea name="bio" class="form-control" rows="5">I am....</textarea>
			    {% endif %}
			      <small id="bodyHelp" class="form-text text-muted">Share a little biographical information to fill out your profile. This may be shown publicly.</small>

		    </div>
		</div>

	    {# Account Management #}
			  {# <div class="form-group  col-md-12">
				<label><h1>Account Management</h1></label>
			  </div>
			  <div class="form-group col-md-12">
			      <label>Change Password</label>
			  </div>
		      <div class="form-group col-md-12">
			      <input name="password" type="password" placeholder="Enter New Password" ></input>
			  </div>
		      <div class="form-group col-md-12">
			      <input name="confirm_password" type="password" placeholder="Confirm New Password" "></input>
			  </div>
			  <div class="form-group  col-md-12">
			  	<style type="text/css">
				  	div.alert {display: none;}
			  	</style>
				  <div id="match_alert" class="alert alert-danger" role="alert">
					  Passwords do not match
				  </div>
			  </div>
		      
		    </div> #}
		    <div class="form-group  col-md-12">
			    <button id="submit" type="submit" class="btn btn-primary">Update Profile</button>
			</div>
	    </div>
		
	</form>



</div>




{% endblock %}